.welcome-modal {
  align-items: center;
  background: #FFF;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 60%;
  border-radius: 0.5em;
}

.welcome-modal label {
  align-items: center;
  display: flex;
  font-size: 16px;
  width: 90%;
}

.welcome-modal input {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 16px;
  height: 50px;
  margin-left: 20px;
  width: 70%;
  outline: none;
}

select {
  appearance: none;
  background: 98% 50% no-repeat url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-size: .65em auto, 100%;
	border-radius: .5em;
	color: #444;
  font-size: 16px;
	font-weight: 700;
  line-height: 1.5;
	margin: 0;
  outline: none;
  padding: 1em;
	width: 90%;
}

.welcome-modal button {
  color: #FFF;
  font-size: 16px;
	font-weight: 700;
  border-radius: .5em;
  height: 50px;
  border: none;
  background: #46be28;
  width: 90%;
}

.error-msg {
  margin: -34px 0;
  font-size: 16px;
  font-weight: 700;
  color: red;
}
